.thumbs-swiper swiper-slide {
  opacity: 0.4;
}

.thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.thumbs-swiper {
  background: black;
}

// TODO add inline styles from full screen carousel here, add breakpoints for mobile viewing
